#title {
    color: blue;
    font-family: verdana;

}

p {
    color: #020642;
}

div {
    color: black;
    font-family: helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: #737373;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
        background-color: #111111;
}



