$ngreen: #00E000;
$defont: helvetica, arial, sans-serif;
$defborder: 1px solid #848484;
$background: #111111;

#title {
    font-family: $defont;
}

.caption {
    font-family: $defont;
    color: $ngreen;
}

ul {
    li {
        a{

        }
    }
}
