#title {
    color: blue;
    font-family: verdana;

}

p {
    color: #018455;
    font-family: helvetica,arial,sans-serif;
}

div {
    color: black;
    font-family: helvetica, sans-serif;
}
img {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    font-size: 6px;
}

li {
    float: left;
    border-right: 1px solid #848484;

}

li a {
    display: block;
    color: #737373;
    text-align: left;
    padding: 0.5px;
    text-decoration: none;
}

li a:hover {
        background-color: #111111;
}

p a {
    position: absolute;
}

